.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pokemon-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
