.pokemon-card {
  width: 200px;
  height: 300px;
  background-color: white;
  box-shadow: 2px 2px 3px rgb(99, 99, 99);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pokemon-sprite {
  width: 100%;
}
